USE [master]
GO
/****** Object:  Database [UserManagement]    Script Date: 07/02/2025 10:54:14 ******/
CREATE DATABASE [UserManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UserManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UserManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserManagement]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07/02/2025 10:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
	[LastModifiedBy] [nvarchar](50) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 07/02/2025 10:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Username, Firstname, LastName, Active, LastModifiedBy, LastModifiedDate 
    FROM [User]
END;

GO
/****** Object:  StoredProcedure [dbo].[GetUserByUsername]    Script Date: 07/02/2025 10:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByUsername]
    @Username NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Username, FirstName, LastName, Active, Password
    FROM [User]
    WHERE Username = @Username;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateInsert]    Script Date: 07/02/2025 10:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateInsert]  
    @Username NVARCHAR(50),  
    @FirstName NVARCHAR(100),  
    @LastName NVARCHAR(100),  
    @Active BIT,  
    @LastModifiedBy NVARCHAR(50),  
    @LastModifiedDate DATETIME,  
    @Password NVARCHAR(100) = NULL  
AS  
BEGIN  
    IF EXISTS (SELECT 1 FROM [User] WHERE Username = @Username)  
    BEGIN  
        UPDATE [User]  
        SET FirstName = @FirstName, 
            LastName = @LastName, 
            Active = @Active,   
            LastModifiedBy = @LastModifiedBy, 
            LastModifiedDate = @LastModifiedDate,  
            Password = COALESCE(@Password, Password)  
        WHERE Username = @Username;  
    END  
    ELSE  
    BEGIN  
        INSERT INTO [User] (Username, FirstName, LastName, Active, LastModifiedBy, LastModifiedDate, Password)  
        VALUES (@Username, @FirstName, @LastName, @Active, @LastModifiedBy, @LastModifiedDate, @Password);  
    END  
END;
GO
/****** Object:  StoredProcedure [dbo].[ValidateUser]    Script Date: 07/02/2025 10:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidateUser]
    @Username NVARCHAR(50),
    @Password NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT COUNT(*) 
    FROM [User] 
    WHERE Username = @Username AND Password = @Password;
END;
GO
USE [master]
GO
